@charset "UTF-8";



        header {
            
            padding: 10px 0;
        }

        nav {
            display: flex;
            justify-content: left;
            gap: 70px;
        }

        nav a {
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: transparent;
            font-weight: bold;
            font-size: 25px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-left: 100px;
        }
        
        nav a:hover {
	    	transform: scale(1.05);
		}
        
        
        

        .card-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5px;
            padding: 40px;
        }

        .card1 {
            max-width: 300px;
            background-color: #ffffff;
            border-radius: 30px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            margin-left: 30px;
        }
        
        .card1:hover {
	    transform: scale(1.05);
		}

        .card1 img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            
        }

        .card-content1 {
            padding: 20px;
        }

        .card-content1 h2 {
            margin-top: 0;
            text-align: center;
            color: #007bff;
        }

        .card-content1 p {
            color: #555555;
            
        }
		
        .card-button {
            display: block;
            width: 100%;
            padding: 10px 0;
            background-color: #007bff;
            color: #ffffff;
            text-decoration: none;
            border: none;
            text-align: center;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .card-button:hover {
            background-color: #0056b3;
            transform: scale(1.05);
            
	}
        
        
        
  


	.flip-card {
	  background-color: transparent;
	  width: 300px;
	  height: 300px;
	  perspective: 1000px;
	}
	
	.flip-card-inner {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  text-align: center;
	  transition: transform 0.6s;
	  transform-style: preserve-3d;
	  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	
	.flip-card:hover .flip-card-inner {
	  transform: rotateY(180deg);
	}
	
	.flip-card-front, .flip-card-back {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	}
	
	.flip-card-front {
	  background-color: #bbb;
	  color: black;
	}
	
	.flip-card-back {
	  background-color: #2980b9;
	  color: white;
	  transform: rotateY(180deg);
	}
